@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-poppins: "Poppins", sans-serif;
}
body,
html {
  margin: 0;
  font-family: var(--font-poppins);
  padding: 0;
  max-height: 100vh;
  box-sizing: border-box;
  width: 100vw;
  background: rgb(8, 9, 13);
  background: linear-gradient(90deg, rgba(8, 9, 13, 1) 0%, rgba(23, 30, 47, 1) 60%);
}
